@{
    ViewBag.Title = "Contact";
}
<style>
    body{
        max-width:1000px;
        text-align: center;
        margin: 0 auto;
    }
</style>
<h2>@ViewBag.Title</h2>

<address>
    Politechnika Poznańska<br />
    Plac Marii Skłodowskiej-Curie 5, 60-965 Poznań<br />
    <abbr title="Phone">P:</abbr>
    61 665 35 37
</address>

<address>
    <strong>Write me what your opinion: </strong>   <a href="mailto:jachumail@yahoo.pl">jachumail@yahoo.pl</a><br />
</address>